h1 {
    text-align: center;
    margin-right: 10%;
}

.city {
    border: 1px solid lightgray;
    text-align: left;
    color: grey;
    background-color: white;
    padding: 10px;
    padding-left: 15px;
}

.search-area {
    padding-right: 5px;
}

.city-box {
    line-height: 2.5em;
    color: grey;
    border: 1px solid lightgray;
    padding-top: 40px;

}

h3 {
    color: black;
    display: inline;
    margin-right: 10px;
}
.fas {
    margin-left: 10px;
    
}

.forecast {
    margin-top: 15px;
}

.temps {
    color: white;
}

.f-box {
    margin-top: 30px;
    margin-right: 22px;
    padding: 20px 10px 20px 10px;
    
}

.temp {
    margin-left: 10px;
}

.wind {
    margin-left: 10px;
}

.uv-box {
    margin-left: 10px;
}

.fa-sun {
    padding-top: 15px;
}

.icon {
    padding-bottom: 15px;
    /* position: fixed; */
}

.fut-tenp {
    margin-top: 100px;
    position: fixed;
}